@media (min-width: 320px) and (max-width: 480px) {
  .buy-all-response{
    margin-top: 8vh;
  }
  
  .div-for-store-show {
    
    width: 100%;

    overflow-y: auto; /* საჭიროების შემთხვევაში ჩაშვებული სკროლი */
    /* თუ ბარათები გვერდიგვერდ გინდა */
    flex-wrap: wrap; /* მეორე რიგში გადავიდეს */
    gap: 10px; /* შუალედი ბარათებს შორის */
  }
  .footer-div-image {
    width: 100%;
  }
  .video-wrapper {
    height: 37vh;
  }
  .assetto-name {
    font-size: 15px;
  }
  .assetto-realism {
    top: 15%;
    font-size: 15px;
  }
  .assetto-triler {
    font-size: 20px;
  }
  #play-trailer {
    top: 25%;
    width: 170px;
  }
  .assetto-corsa {
    height: 20vh;
  }
  .assetto-accordion {
    top: 40%;
    width: 70%;
    font-weight: 10;
    font-size: 10px;
  }
  .for-response {
    position: relative;
    width: 100%;
  }
  .cod-name {
    left: 0;
    font-size: 25px;
  }
  .cod-full {
    top: 25px;
    left: 0;
    font-size: 25px;
  }
  .gt7-name {
    left: 0;
    font-size: 25px;
  }
  .gt7-full {
    width: 100%;
    top: 25px;
    left: 0;
    font-size: 25px;
  }
  .gt7-div {
    left: 0;
    width: 100%;
    height: 150px;
  }
  .about-gt7 {
    width: 100%;
    left: 0;
    top: 55px;
  }
  .cod-div {
    width: 100%;
    height: 150px;
  }
  .full-game-position {
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  #close {
    top: 0%;
    margin-left: 97%;
    width: 25px;
    height: 25px;
  }
  .about-cod {
    top: 55px;
    left: 0;
    width: 100%;
  }
  .footerPDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .game-card {
    width: 280px;
  }
  .footer {
    padding-top: 10px;
  }
  .shop-item {
    width: 280px;

    height: 400px;
  }
  .lineDiv {
    width: 130px;
  }
  .buy-all {
    z-index: 1;
  }
  .input {
    width: 100%;
  }
  .top {
    bottom: 20%;
  }
  .footer {
    padding-top: 35%;
  }
  .div-for-close-and-video {
    width: 80%;
  }
  #cookie {
    width: 100%;
    top: 70%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .div-for-store-show {
    width: 100%;

    overflow-y: auto; /* საჭიროების შემთხვევაში ჩაშვებული სკროლი */
    /* თუ ბარათები გვერდიგვერდ გინდა */
    flex-wrap: wrap; /* მეორე რიგში გადავიდეს */
    gap: 10px; /* შუალედი ბარათებს შორის */
  }
  .video-wrapper {
    height: 37vh;
  }
  .assetto-name {
    font-size: 26px;
  }
  .assetto-realism {
    font-size: 28px;
  }
  .assetto-triler {
    font-size: 20px;
  }
  #play-trailer {
    width: 170px;
  }
  .assetto-accordion {
    font-weight: 10;
    font-size: 10px;
  }
  #close {
    top: 0%;
    margin-left: 97%;
    width: 25px;
    height: 25px;
  }
  .div-for-close-and-video {
    width: 80%;
  }
  .for-response {
    position: relative;
    width: 100%;
  }
  .cod-name {
    left: 0;
    font-size: 25px;
  }
  .cod-full {
    top: 25px;
    left: 0;
    font-size: 25px;
  }
  .gt7-name {
    left: 0;
    font-size: 25px;
  }
  .gt7-full {
    width: 100%;
    top: 25px;
    left: 0;
    font-size: 25px;
  }
  .gt7-div {
    left: 0;
    width: 100%;
    height: 150px;
  }
  .about-gt7 {
    width: 100%;
    left: 0;
    top: 55px;
  }
  .cod-div {
    width: 100%;
    height: 150px;
  }
  .full-game-position {
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  .about-cod {
    top: 55px;
    left: 0;
    width: 100%;
  }
  .footerPDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .game-card {
    width: 280px;
  }
  .footer {
    padding-top: 150px;
  }
  .shop-item {
    width: 280px;

    height: 400px;
  }
  .lineDiv {
    width: 130px;
  }
  .buy-all {
    z-index: 1;
  }
  .input {
    width: 100%;
  }
  #cookie {
    width: 100%;
    top: 70%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .video-wrapper {
    height: 57vh;
  }
  .input {
    width: 100%;
  }
  #close {
    margin-top: -2%;
    margin-left: 98%;
    width: 25px;
    height: 25px;
  }

  .priceP {
    font-size: 30px;
  }
  .salepriceP {
    font-size: 30px;
  }
  .buy-all-response {
    margin-top: 2vh;
  }
  .div-for-close-and-video {
    width: 80%;
  }
  .div-for-store-show {
    width: 100%;
    height: 80%;
  }
  .buy-all {
    bottom: -4%;
  }
  .shop-item {
    width: 21vw;
    height: 310px;
  }
}
