body{


}



.game-card{
    width: 15vw;
    height:400px;
    margin-top: 20px;
    background-color: azure;
    border-radius: 10%;

}
.imagethumb{
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10%;
    width: 90%;
    height: 40%;
}
.titleP{
    font-family: 'VelaSans';
    font-size:large;

}
.dealRatingP{
    font-size: 27px;
    font-weight: 00;
}
.priceP{
    
    color: rgb(165, 162, 162);
    font-size: 40px;
}
.salepriceP{
    font-size: 40px;
}
.priceDiv {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.lineDiv{
    width:30%;
    height: 3px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: rotate(10deg);
}
.contentGameP{
    position: relative;
    padding: 5%;
    height: 150px;
}
  
.savingsP{
    position: absolute;
    top: 80%;
    background-color: black;  
  color: white;             
  display: inline-block;    
  font-size: 26px;           
  padding: 0;                
  line-height: 1;  
  border-radius: 10%; 

}







.game{
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-10%);
    width: 70vw;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: blue;
    opacity: 0.7;
    border-radius:40px;
}